/* General Typography section --------------------*/


/* ------General doc--------------*/

:root {
    --bgimg: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(42, 36, 34, 0.8)), url('imgs/hero-bacco.jpg');
    --bg: #2a2422;
    --text: #B8ADA7;
    --yellow: #F4C430;
    --general_font: "Cardo", serif;
    --h1_font: Cinzel, serif;
    --linkred: #9c2844;
    --textred: #641527;
    --blackbg: black;
    --nav: #2a2422;
    --title: #F4C430;

}

body.lightmode {
    --bgimg: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(230, 220, 205, 0.9)), url('imgs/apollo_e_le_muse.jpg');
    --bg: #F3E9DA;
    --text: #2a2422;
    --yellow: #ab770e;
    --general_font: "Cardo", serif;
    --h1_font: Cinzel, serif;
    --linkred: #8B3A2F;
    --textred: #5D261C;
    --blackbg: #afa292;
    --nav: #afa292;
    --title: #eba311;
}

html,
body {
    min-height: 100vh;
}

body {
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
    padding: 0;
    padding-top: 60px;
    font-family: var(--general_font);
    font-size: 1.2em;
    text-align: justify;
    display: flex;
    flex-direction: column;
}


h1 {
    color: var(--yellow);
    font-family: var(--h1_font);
}

h4 {
    font-size: 1.2em;
}

p {
    color: var(--text);
    text-align: justify;
}

a:hover,
span {
    color: var(--yellow);
}

a {
    color: var(--linkred);
}




/* --------------------------------*/


/* Navbar section --------------------*/

.dropdown-menu {
    background-color: var(--nav);
    border-width: 1px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23B8ADA7' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    transition: background-image 0.2s ease;
}

.navbar-toggler:hover .navbar-toggler-icon,
.navbar-toggler:focus .navbar-toggler-icon,
.navbar-toggler:active .navbar-toggler-icon,
.navbar-toggler.collapsed~.navbar-collapse.show+.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23F4C430' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar {
    background-color: var(--nav);
    border-bottom: 4px solid var(--textred);
    font-size: 1em;
    position: fixed;
    color: var(--text);
}

.nav-link {
    color: var(--text);
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: var(--yellow);
}

.navbar-nav .nav-link:active,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link[aria-current="page"] {
    color: var(--yellow);
}

.dropdown-menu {
    border: 3px solid #641527;
}

.dropdown-item {
    color: var(--text);
}

.navbar-nav .dropdown-item:hover,
.navbar-nav .dropdown-item:focus {
    background-color: var(--yellow);
}

.navbar-nav .dropdown-item:active {
    background-color: var(--yellow);
}

.logo {
    height: 5vw;
    width: 7vw;
    object-fit: contain;
}

/* -------------------------------*/

/* -------Dark/light mode button--------*/

.theme-switch {
    position: fixed;
    top: 10rem;
    right: 2rem;
    z-index: 9999;
    width: 80px;
    height: 40px;
}

.theme-switch input {
    display: none;
}

.theme-switch label {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--text);
    border-radius: 40px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

.theme-switch label::after {
    content: "☽";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 20px;
    background-color: var(--blackbg);
    border-radius: 50%;
    transition: 0.3s ease, transform 0.3s ease;
}

.theme-switch input:checked+label {
    background-color: var(--yellow);
}

.theme-switch input:checked+label::after {
    content: "☼";
    transform: translateX(40px);
}

@media (max-width: 600px) {
    .theme-switch {
        width: 60px;
        height: 30px;
    }

    .theme-switch label {
        border-radius: 30px;
    }

    .theme-switch label::after {
        width: 24px;
        height: 24px;
        line-height: 24px;
        font-size: 16px;
    }

    .theme-switch input:checked+label::after {
        transform: translateX(30px);
    }
}


/* -----------Hero section (with button)--------------*/
.hero {
    height: 100vh;
    background-image: var(--bgimg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
}

.wine_button {
    margin-top: 2vw;
    max-width: 100px;
    clip-path: circle(50%);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.wine_button:hover,
.card-img:hover,
#narratives:hover,
#museum:hover {
    transform: scale(1.1);
}

.title {
    font-size: 6vw;
    margin-top: 3vw;
    color: var(--title)
}

.subtitle {
    font-size: 1em;
}

/* -----------Intro + narratives and museum cards--------------*/

#quote {
    background-color: var(--bg);
    margin-top: 4rem;
    margin-bottom: 5rem;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    color: var(--yellow);
}

.quote {
    margin-bottom: 15rem;
}

#intro {
    background-color: var(--bg);
    font-size: 1.5rem;
    text-align: center;
    max-width: 90vw;
}

#museum {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 1rem;
    border: 3px solid var(--textred);
    background-color: var(--yellow);
    max-width: 80vw;
    max-height: 25vw;
}

#museum-h1 {
    color: var(--textred);
}

#narratives {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 1rem;
    background-color: var(--textred);
    border: 2px solid var(--yellow);
    max-width: 80vw;
    max-height: 25vw;
}

.img-fluid {
    height: 18vw;
    width: 30vw;
    object-fit: cover;
}

#museum-h1,
#narratives-h1 {
    font-size: 3vw;
}


/* -----------The collection--------------*/


.browse,
.tickets {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 1rem;
    background-color: var(--bg);
    max-width: 80vw;
}

.scroller {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 1rem 0;
    position: relative;
    align-items: center;
}

.slide {
    position: relative;
    width: 200px;
    flex: 0 0 auto;
    overflow: hidden;
}

.scroller-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
}


.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--blackbg);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.slide:hover .overlay {
    width: 100%;
}

.text {
    white-space: nowrap;
    color: var(--text);
    font-size: 0.5em;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* -------Modals-------------*/
:root {
    --modal-border-radius: 1%;
    --modal-bg: rgba(42, 36, 34, 0.95);
    --modal-header-border-color: var(--textred);
    --modal-header-border-width: 3px;
}

.media-area {
    display: flex;
    gap: 1.5em;
    align-items: flex-start;
}


.modal-content {
    border-radius: var(--modal-border-radius);
    background-color: var(--modal-bg);
}

.modal-header {
    border-color: var(--modal-header-border-color);
    border-width: var(--modal-header-border-width);
}

.modal-img {
    height: 100%;
    max-height: none;
    align-items: flex-start;
    width: 250px;
    flex-shrink: 0;
    transition: transform 0.2s ease;
    object-fit: cover;
}

.modal-img:hover {
    transform: scale(1.03);
}

.modal-info {
    flex: 1;
    min-width: 0;
    background-color: var(--modal-bg);
}

.overlay>.text {
    font-size: 0.8em;
}

/* --------Ticket section --------*/
.tickets {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

label {
    font-size: 0.8em;
    display: block;
    margin-bottom: 5px;
}

input,
select {
    padding: 10px 12px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.field-row {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.field-row>div {
    flex: 1 1 200px;
}

.book {
    width: 100%;
    padding: 14px;
    margin-top: 30px;
    background: var(--textred);
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.book:hover {
    background: var(--linkred);
}

@media (max-width: 600px) {
    .field-row {
        flex-direction: column;
        gap: 6px;
    }
}


/* -------Footer-------------*/
footer {
    border-top: 4px solid var(--textred);
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--blackbg);
    padding: 8px;
    text-align: center;
    z-index: 1000;
}

footer .footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .footer .col {
    flex: 1;
    min-width: 200px;
    text-align: left;
}

/* Media query for mobile */
@media (max-width: 600px) {
    footer .footer .row {
        flex-direction: column;
        align-items: flex-start;
    }

    footer .footer .col {
        width: 90%;
        margin-bottom: 20px;
    }
}

/* -------Temple separators-------------*/
.separator {
    position: relative;
    max-height: 20vw;
    object-fit: cover;
}

.centro {
    position: fixed;
    left: 0;
    max-width: 100%;
    max-height: 100vw;
    object-fit: cover;
    z-index: -1;
    top: 30vh;
}

.info,
.about {
    text-align: justify;
}


/* -------Disclaimer-------------*/
#disclaimer {
    padding-top: 6em;
    padding-bottom: 2em;
}